body {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  height: auto;
  width: 350px;
}

#mainMenu {
  padding: 20px;
  text-align: center;
}

#detailsSection {
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, select, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* General Styling
body {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 0;
    width: 350px;
    height: auto;
    background: rgb(36,0,27);
    background: linear-gradient(339deg, rgba(36,0,27,0.8072478991596639) 4%, rgba(93,9,121,0.8352591036414566) 52%, rgba(243,0,255,0.768032212885154) 98%);
    overflow: auto;
  }

  
  button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h3 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-size: 14px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
   */